@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

.main {
  display: flex;
  background-color: #FDFDFB;
  flex-direction: column;
  margin: 0 100px;
  width: 100%;
}

.logo {
  margin-right: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 83px;
}
.header__logo {
  display: flex;
}
.header__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  color: #555248;
  position: relative;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  min-width: 420px;
}
.header__menu a {
  font-size: 14px;
  color: #555248;
}
.header__icons {
  display: flex;
}

.icon {
  margin-right: 23px;
}
.icon_liked {
  position: relative;
}
.icon_liked::after {
  display: flex;
  content: "1";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #E6C8B4;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  justify-content: center;
  align-items: center;
  color: #1B1A17;
  top: -5px;
  left: 15px;
}
.icon:last-child {
  margin: 0;
}

.collection {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 20px;
  width: 100%;
  height: 768px;
  position: relative;
  background: url("/img/main-background.png") 350px 0px no-repeat;
}
.collection__description {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  flex: 1 1 36%;
}
.collection__body {
  margin: 39px 0 64px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  max-width: 258px;
  color: rgba(27, 26, 23, 0.82);
}
.collection__example {
  display: flex;
  flex: 1 1 65%;
  justify-content: space-between;
}
.collection__price {
  margin-left: 50px;
  margin-top: 168px;
  position: relative;
}
.collection__price::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -60px;
  border: 1px solid #8B8371;
  width: 50px;
  height: 1px;
}
.collection__image {
  position: absolute;
  height: 804px;
  left: 520px;
}
.collection__size {
  align-self: flex-end;
  margin-bottom: 116px;
  position: relative;
}
.collection__size:before {
  content: "";
  top: 10px;
  left: -60px;
  position: absolute;
  border: 1px solid #8B8371;
  width: 50px;
  height: 1px;
}

.price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  position: relative;
  color: #1B1A17;
}
.title:before {
  content: "";
  top: 35px;
  left: -60px;
  position: absolute;
  border: 1px solid #8B8371;
  width: 50px;
  height: 1px;
}

.subtitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
}

.button {
  align-self: flex-start;
  padding: 26px 38px 26px 38px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-items: center;
}

.button_dark {
  background: #444240;
}

.button_light {
  background: #D4B098;
}

.models {
  margin: 80px 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.models__title {
  text-align: center;
}
.models__all {
  align-self: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid #C4C0B6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #444240;
}
.models__list {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.models__item {
  max-width: 370px;
  height: 467px;
}

.title-basic {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.models-item {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 40px;
  width: 100%;
  background: #FDFDFB;
}
.models-item__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}
.models-item__price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.models-item__image {
  border-radius: 50%;
  background: url("/img/watch-ellipse.png") center no-repeat;
}
.models-item__more {
  position: relative;
  margin-left: 50px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
}
.models-item__more:before {
  content: "";
  top: 10px;
  left: -50px;
  position: absolute;
  border: 1px solid #8B8371;
  width: 30px;
  height: 1px;
}

.quality {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 519px;
  position: relative;
}
.quality__banner {
  align-self: flex-end;
  margin-right: 70px;
}
.quality__number {
  max-width: 230px;
  margin: 20px 0 20px auto;
  text-align: center;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.quality__description {
  max-width: 370px;
  align-self: center;
}
.quality__body {
  margin: 38px 0 45px 0;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
}

.quality-backgrounds__first {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 34%;
  background-color: #F7F5EF;
  z-index: -1;
}
.quality-backgrounds__second {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FDFDFB;
  z-index: -3;
}
.quality-backgrounds__third {
  text-align: right;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(/img/quality_ellipse.png);
  background-position: right;
  z-index: -2;
}

.arrow {
  background: none;
}
.arrow_left {
  margin-right: 20px;
}
.arrow_right {
  margin-left: 20px;
}

.news {
  display: flex;
  width: 100%;
  margin: 80px 100px 90px;
  justify-content: space-between;
}
.news__description {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.news__body {
  max-width: 375px;
  min-height: 150px;
  margin: 35px 0 20px;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}
.news__body span {
  font-weight: 700;
  color: #262421;
}
.news__icons {
  display: flex;
  align-items: center;
}
.news__icons-item {
  margin-right: 18px;
}
.news__collage {
  display: flex;
}
.news__sidebar {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
  justify-content: space-between;
}
.news__sidebar img {
  width: 242px;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 100px;
  justify-content: space-around;
  background: #444240;
  border: 2px solid #E2D0C4;
}
.footer__logo {
  position: relative;
  top: -10px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  margin: 79px 0 67px 0;
  position: relative;
}
.footer__title-logo {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}
.footer__item {
  margin-bottom: 15px;
}
.footer__item > a {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__list {
  margin-top: 33px;
}

@media (max-width: 1200px) {
  .row {
    max-width: 970px;
  }
  .collection {
    background: url("/img/main-background.png") 100px 0px no-repeat;
  }
  .collection__description {
    flex: 1 0 50%;
  }
  .collection__image {
    left: 260px;
  }
  .collection__price {
    position: absolute;
    left: 220px;
    z-index: 10;
  }
  .collection__size::before {
    content: "";
  }
}
@media (max-width: 992px) {
  .row {
    max-width: 750px;
  }
  .header {
    flex-wrap: wrap;
  }
  .header__menu {
    justify-content: space-around;
    flex: 1 1 100%;
    order: 3;
  }
}
@media (max-width: 767px) {
  .row {
    max-width: none;
  }
}